* {
	padding: 0;
	margin: 0;
}

body, html	 {
	width: 100%;
	height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    background-color: grey;
}

#button {
	color: grey;
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 20px;
	background: #eee;
	border: 1px solid grey;
}

#button:hover {
	color: black;
	border: 1px solid black;
	cursor: pointer;
}